.app-card {
  background-color: #fbfbfb;
  border-radius: 8px;
  padding: 2px;
  margin: 4px;
  border: 1px solid #e0e0e0;
  box-shadow: 4px 8px 8px #a0a0a0;
  position: relative;
} .app-card:hover {
  background-color: white;
  box-shadow: 4px 8px 8px #909090;
}

.app-row:after {
  content: "";
  display: table;
  clear: both;
}

.app-panel-left {
  float: left;
  width: 38%;
}

.app-panel-right {
  float: left;
  width: 62%;
}